---
import { getCollection, render } from 'astro:content';
import WorkLayout from '@layouts/WorkLayout.astro';

export async function getStaticPaths() {
	const work = await getCollection('experience');

	return work.map((post) => {
		const [lang, ...id] = post.id.split('/');
		return { params: { lang, id: id.join('/') || undefined }, props: post };
	});
}

const post = Astro.props;

const { Content } = await render(post);
const title = post.data.title;
const description = post.data.description;
const variant = post.data.variant;
const alt = `Animated image ${post.data.variant}`;
---

<WorkLayout {variant} {title} {description} noLinks>
	<div class="animated-image">
		<img {alt} src={post.data.gif?.src} draggable="false" />
	</div>
	<Content class="material-icons" />
</WorkLayout>

<style>
	.animated-image {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.animated-image > img {
		max-width: 400px;
		min-width: 250px;
	}
</style>
