---
import { LOCALES, useTranslations, type Lang } from 'src/i18n';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import EmptyState from '@components/Blog/EmptyState.astro';

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const posts = (await getCollection('experience')).filter(
	(post) => post.id.split('/')[0] === locale,
);

const title = `Juan Felipe Rada | ${t({
	es: 'Experiencia',
	en: 'Experience',
	'pt-br': 'Experiência',
})}`;

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang },
	}));
---

<Layout {title} noLinks>
	<section class="section container">
		<h2 class="section__title">
			{
				t({
					en: 'My experience',
					es: 'My experiencia',
					'pt-br': 'Minha experiência',
				})
			}
		</h2>

		{
			posts.length !== 0 ? (
				<ul class="blog-list">
					{posts.map((post) => {
						const [, ...id] = post.id.split('/');
						return (
							<li>
								<a href={`/${locale}/experience/${id.join('/')}/`}>
									{post.data.gif && <Image src={post.data.gif} alt={post.data.title} />}
									<h3>{post.data.title}</h3>
								</a>
							</li>
						);
					})}
				</ul>
			) : (
				<EmptyState />
			)
		}
	</section>
</Layout>

<style>
	h2 {
		margin-bottom: 2rem;
	}

	.blog-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	@media screen and (max-width: 568px) {
		.blog-list {
			grid-template-columns: 1fr;
		}
	}

	img {
		border-radius: 0.5rem;
		object-fit: contain;
		aspect-ratio: auto;
		max-height: 200px;
		box-shadow: 0 0 2px var(--first-color);
	}
</style>
