---
interface Props {
  link: string;
  bgImage: string;
  title: string;
  description: string;
}

const { link, bgImage, title, description } = Astro.props;
---

<a class="card" href=`${link}`>
  <img class="card__image" src={bgImage} alt={title} />
  <div class="card__content">
    <h3 class="card__title">
      {title}
    </h3>
    <p class="card__description">
      {description}
    </p>
  </div>
  <button>
    <svg
      id="Arrow.7"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 18.256 18.256"
      style="transition:.3s"
    >
      <g id="Group_7" data-name="Group 7" transform="translate(5.363 5.325)">
        <path
          id="Path_10"
          data-name="Path 10"
          d="M14.581,7.05,7.05,14.581"
          transform="translate(-7.05 -7.012)"
          fill="none"
          stroke="var(--container-color)"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"></path>
        <path
          id="Path_11"
          data-name="Path 11"
          d="M10,7l5.287.037.038,5.287"
          transform="translate(-7.756 -7)"
          fill="none"
          stroke="var(--container-color)"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"></path>
      </g>
      <path
        id="Path_12"
        data-name="Path 12"
        d="M0,0H18.256V18.256H0Z"
        fill="none"></path>
    </svg>
  </button>
</a>

<style>
  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: var(--container-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    transition: all 300ms ease-in-out;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card__image {
    width: 75px;
    object-fit: cover;
    align-self: center;
  }

  .card__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }

  .card__description {
    display: inline-block;
    font-size: var(--small-font-size);
    text-decoration: none;
    color: var(--text-color);
  }

  button {
    all: unset;
    background-color: var(--first-color);
    border-radius: 50%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    transition: all 300ms ease-in-out;
  }

  button:hover {
    background-color: var(--first-color-alt);
    rotate: 45deg;
  }
</style>
