---
import Alcaldia from "@assets/img/brands/alcaldia-cali.webp";
import IEI from "@assets/img/brands/iei.png";
import MOE from "@assets/img/brands/moe.webp";

import Wibx from "@assets/img/brands/wibx.webp";
import NT from "@assets/img/brands/nt.png";
import Birdi from "@assets/img/brands/birdi.png";
import Icesi from "@assets/img/brands/icesi.jpg";
import Javeriana from "@assets/img/brands/javeriana.svg";
import Logo from "@assets/img/brands/logo.png";

import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== QUALIFICATION ====================-->
<section class="qualification section">
  <h2 class="section__title">
    
    {
      t({
        en: "Experience",
        es: "Experiencia",
        "pt-br": "Experi锚ncia",
      })
    }
  </h2>
  <span class="section__subtitle">
    {
      t({
        en: "My Personal Journey",
        es: "Mi viaje personal",
        "pt-br": "Minha Jornada Pessoal",
      })
    }
  </span>

  <div class="qualification__container container">
    <div class="qualification__tabs">
      <div class="qualification__button button--flex" data-target="#education">
        <i class="uil uil-graduation-cap qualification__icon"></i>
        <p>
          {
            t({
              en: "Education",
              es: "Educaci贸n",
              "pt-br": "Educa莽茫o",
            })
          }
        </p>
      </div>
      <div
        class="qualification__button button--flex qualification__active"
        data-target="#work"
      >
        <i class="uil uil-briefcase-alt qualification__icon"></i>
        <p>
          {
            t({
              en: "Work",
              es: "Trabajo",
              "pt-br": "Trabalho",
            })
          }
        </p>
      </div>
    </div>

    <div class="qualification__sections">
      <!--==================== QUALIFICATION CONTENT 1 ====================-->
      <div class="qualification__content" data-content id="education">
        <!--==================== QUALIFICATION 1 ====================-->
        <div class="qualification__data">
          <div>
            <img
              src={Javeriana.src}
              draggable="false"
              alt="Pontificia Universidad Javeriana"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "Political Science",
                  es: "Ciencia Pol铆tica",
                  "pt-br": "Ci锚ncia Pol铆tica",
                })
              }
            </h3>
            <span class="qualification__subtitle"
              >Pontificia Universidad Javeriana Cali</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              2014 - 2019
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>
        <!--==================== QUALIFICATION 2 ====================-->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <img
              src={Icesi.src}
              draggable="false"
              alt="Universidad ICESI"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "Master in Digital Business Strategy",
                  es: "Maestria en Estrategia Digital de Negocios",
                  "pt-br": "Mestrado em Estrat茅gia de Neg贸cios Digitais",
                })
              }
            </h3>
            <span class="qualification__subtitle"> Universidad ICESI </span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              2021 - 2022
            </div>
          </div>
        </div>
      </div>
      <!--==================== QUALIFICATION CONTENT 2 ====================-->
      <div
        class="qualification__content qualification__active"
        data-content
        id="work"
      >
        <!--==================== QUALIFICATION 1 ====================-->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <img
              src={MOE.src}
              draggable="false"
              alt="MOE | Misi贸n de Observaci贸n Electoral"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "Research Assistant",
                  es: "Asistente de investigaci贸n",
                  "pt-br": "Assistente de Pesquisa",
                })
              }
            </h3>
            <span class="qualification__subtitle"
              >Misi贸n de Observaci贸n Electoral (MOE)</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              {
                t({
                  en: "Jan 2018 - Jul 2018",
                  es: "Ene 2018 - Jul 2018",
                  "pt-br": "Jan 2018 - Jul 2018",
                })
              }
            </div>
          </div>
        </div>
        <!--==================== QUALIFICATION 2 ====================-->
        <div class="qualification__data">
          <div>
            <img
              src={Alcaldia.src}
              draggable="false"
              alt="Alcaldia de Cali"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "Delivery Unit Member",
                  es: "Enlace de seguimiento estrat茅gico",
                  "pt-br": "Liga莽茫o de Monitoramento Estrat茅gico",
                })
              }
            </h3>
            <span class="qualification__subtitle"> Alcaldia de Cali </span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              {
                t({
                  en: "Mar 2019 - Dec 2019",
                  es: "Mar 2019 - Dic 2019",
                  "pt-br": "Mar 2019 - Dez 2019",
                })
              }
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>
        <!--==================== QUALIFICATION 3 ====================-->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>

          <div>
            <img
              src={IEI.src}
              draggable="false"
              alt="IEI | Instituto de Estudios Interculturales"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "Social Researcher",
                  es: "Investigador Social",
                  "pt-br": "Pesquisador Social",
                })
              }
            </h3>
            <span class="qualification__subtitle">
              Instituto de Estudios Interculturales
            </span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              {
                t({
                  en: "Jun 2020 - Dec 2021",
                  es: "Jun 2020 - Dic 2021",
                  "pt-br": "Jun 2020 - Dez 2021",
                })
              }
            </div>
          </div>
        </div>
        <!--==================== QUALIFICATION 4 ====================-->
        <div class="qualification__data">
          <div>
            <a href="/wibx">
              <img
                src={Wibx.src}
                draggable="false"
                alt="Wibx Company"
                width="35px"
              />
              <h3 class="qualification__title">
                {
                  t({
                    en: "FrontEnd Developer",
                    es: "Desarrollador FrontEnd",
                    "pt-br": "Desenvolvedor Frontend",
                  })
                }
              </h3>
              <span class="qualification__subtitle"> Wibx Company </span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2022 - 2024
              </div>
            </a>
          </div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>
        <!--==================== NT  ====================-->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <img
              src={Birdi.src}
              draggable="false"
              alt="BirdiRx"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "FrontEnd Developer",
                  es: "Desarrollador FrontEnd",
                  "pt-br": "Desenvolvedor Frontend",
                })
              }
            </h3>
            <a href="/birdi">
              <span class="qualification__subtitle"> BirdiRx </span>
            </a>

            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              {
                t({
                  en: "May 2023 - Jan 2025",
                  es: "May 2023 - Ene 2025",
                  "pt-br": "Mai 2023 - Jan 2025",
                })
              }
            </div>
          </div>
        </div>

        <!--==================== BirdiRx ====================-->
        <div class="qualification__data">
          <div>
            <img
              src={NT.src}
              draggable="false"
              alt="NT Consult"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "FrontEnd Developer",
                  es: "Desarrollador FrontEnd",
                  "pt-br": "Desenvolvedor Frontend",
                })
              }
            </h3>
            <span class="qualification__subtitle"> NT Consult</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              {
                t({
                  en: "Jan 2023 - Present",
                  es: "Ene 2023 - Presente",
                  "pt-br": "Jan 2023 - Presente",
                })
              }
            </div>
          </div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>

        <!--==================== Next?  ====================-->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <img
              src={Logo.src}
              draggable="false"
              alt="Your logo here"
              class="brand-icon"
            />
            <h3 class="qualification__title">
              {
                t({
                  en: "Want to be the next?",
                  es: "驴Quieres ser el pr贸ximo?",
                  "pt-br": "Quer ser o pr贸ximo?",
                })
              }
            </h3>
            <a href="#Contact">
              {
                t({
                  en: "Contact Me",
                  es: "Cont谩ctame",
                  "pt-br": "Contato",
                })
              }
            </a>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              {
                t({
                  en: "Future?",
                  es: "驴Futuro?",
                  "pt-br": "Futuro?",
                })
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .brand-icon {
    height: 35px;
    filter: drop-shadow(0px 0px 0.5px gray);
  }

</style>

<script is:inline>
  /*==================== QUALIFICATION TABS ====================*/
  const tabs = document.querySelectorAll("[data-target]"),
    tabContents = document.querySelectorAll("[data-content]");

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      const target = document.querySelector(tab.dataset.target);

      tabContents.forEach((tabContent) => {
        tabContent.classList.remove("qualification__active");
      });
      target.classList.add("qualification__active");

      tabs.forEach((tab) => {
        tab.classList.remove("qualification__active");
      });
      tab.classList.add("qualification__active");
    });
  });
</script>
