---
import Pokedex from '@assets/img/pokedex.webp';
import World from '@assets/img/world.webp';
import Radar from '@assets/img/radar.webp';
import CasaNostra from '@assets/img/casa-nostra.webp';
import Music from '@assets/img/music.webp';
import Abacus from '@assets/img/abacus.webp';
import Calendar from '@assets/img/calendar.webp';
import SpaceInvaders from '@assets/img/space-invaders.webp';

import PortfolioCard from '@components/PortfolioCard.astro';
---

<!--==================== PORTFOLIO ====================-->
<section
    class="portfolio section"
    id="Portafolio"
>
    <h2
        class="section__title"
        i18n="portfolio-title"
    >
    </h2>
    <span
        class="section__subtitle"
        i18n="portfolio-subtitle"
    >
    </span>
    <div
        class="portafolio__container container"
    >
        <div
            class="card-grid"
        >
            <PortfolioCard
                bgImage={CasaNostra.src}
                title="p5-title"
                description="p5-subtitle"
                link="https://a-casa-nostra.vercel.app/"
            />
            <PortfolioCard
                bgImage={Pokedex.src}
                title="p2-title"
                description="p2-subtitle"
                link="https://radapls.github.io/Pokedex/"
            />
            <PortfolioCard
                bgImage={World.src}
                title="p3-title"
                description="p3-subtitle"
                link="https://radapls.github.io/country-stats/"
            />
            <PortfolioCard
                bgImage={Abacus.src}
                title="p7-title"
                description="p7-subtitle"
                link="https://expenses-control-radapls.netlify.app/"
            />
            <PortfolioCard
                bgImage={SpaceInvaders.src}
                title="projects.space-invaders.title"
                description="projects.space-invaders.description"
                link="https://radapls.github.io/space-invaders/"
            />
            <PortfolioCard
                bgImage={Calendar.src}
                title="p8-title"
                description="p8-subtitle"
                link="https://patient-monitoring-radapls.netlify.app/"
            />
            <PortfolioCard
                bgImage={Music.src}
                title="p9-title"
                description="p9-subtitle"
                link="https://github.com/Radapls/miusiq-remix/"
            />
            <PortfolioCard
                bgImage={Radar.src}
                title="p4-title"
                description="p4-subtitle"
                link="https://github.com/Radapls/truek-app"
            />
        </div>
    </div>
</section>

<style
>
    .portafolio__container {
        overflow: initial;
    }
    .portafolio__title {
        opacity: 0;
        transition: opacity
            500ms
            ease-in-out;
        font-size: var(
            --h3-font-size
        );
        margin-bottom: var(
            --mb-0-5
        );
        color: var(
            --body-color
        );
        font-size: var(
            --h3-font-size
        );
        line-height: 1.4;
    }
    .portafolio__description {
        opacity: 0;
        transition: opacity
            500ms
            ease-in;
        margin-bottom: var(
            --mb-0-75
        );
        color: var(
            --body-color
        );
        font-size: var(
            --normal-font-size
        );
        margin-bottom: 8px;
    }

    .card-grid {
        display: grid;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        max-width: 1200px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
    }

    @media screen and (max-width: 1024px) {
        .card-grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 568px) {
        .card-grid {
            grid-template-columns: 1fr;
        }
    }
</style>
