---
import Pokedex from "@assets/img/pokedex.webp";
import World from "@assets/img/world.webp";
import Radar from "@assets/img/radar.webp";
import CasaNostra from "@assets/img/casa-nostra.webp";
import Music from "@assets/img/music.webp";
import Abacus from "@assets/img/abacus.webp";
import Calendar from "@assets/img/calendar.webp";
import SpaceInvaders from "@assets/img/space-invaders.webp";

import PortfolioCard from "@components/PortfolioCard.astro";

import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== PORTFOLIO ====================-->
<section class="portfolio section" id="Portafolio">
  <h2 class="section__title">
    📚
    {
      t({
        en: "Portfolio",
        es: "Portafolio",
        "pt-br": "Portfólio",
      })
    }
  </h2>
  <span class="section__subtitle">
    {
      t({
        en: "Some recent work",
        es: "Algunos trabajos recientes",
        "pt-br": "Alguns trabalhos recentes",
      })
    }
  </span>
  <div class="portafolio__container container">
    <div class="card-grid">
      <PortfolioCard
        bgImage={CasaNostra.src}
        title={t({
          en: "A casa nostra",
          es: "A casa nostra",
          "pt-br": "A casa nostra",
        })}
        description={t({
          en: "A real estate agency for the home of your dreams, built with React, Firebase and Tailwindcss",
          es: "Una agencia inmobiliaria para la casa de tus sueños, construida con React, Firebase y Tailwindcss",
          "pt-br":
            "Uma agência imobiliária para a casa dos seus sonhos, construída com React, Firebase e Tailwindcss",
        })}
        link="https://a-casa-nostra.vercel.app/"
      />
      <PortfolioCard
        bgImage={Pokedex.src}
        title={t({
          en: "Pokedex",
          es: "Pokedex",
          "pt-br": "Pokédex",
        })}
        description={t({
          en: "Pokedex project created with Angular 12 and PokeApi",
          es: "Proyecto Pokedex creado con Angular 12 y PokeApi",
          "pt-br": "Projeto Pokedex criado com Angular 12 e PokeApi",
        })}
        link="https://radapls.github.io/Pokedex/"
      />
      <PortfolioCard
        bgImage={World.src}
        title={t({
          en: "Encyclopedia of Countries",
          es: "Enciclopedia de Países",
          "pt-br": "Enciclopédia de Países",
        })}
        description={t({
          en: "Project of the countries of the world as a Wiki created with Angular 14 and CountryRestApi",
          es: "Proyecto de los países del mundo a modo de Wiki creado con Angular 14 y CountryRestApi",
          "pt-br":
            "Projeto dos países do mundo como um Wiki criado com Angular 14 e CountryRestApi",
        })}
        link="https://radapls.github.io/country-stats/"
      />
      <PortfolioCard
        bgImage={Abacus.src}
        title={t({
          en: "Expense Control",
          es: "Control de gastos",
          "pt-br": "Controle de gastos",
        })}
        description={t({
          en: "Expense control project created with React and Vite",
          es: "Control de gastos creado con React y Vite",
          "pt-br": "Controle de gastos criados com React y Vite",
        })}
        link="https://expenses-control-radapls.netlify.app/"
      />
      <PortfolioCard
        bgImage={SpaceInvaders.src}
        title={t({
          en: "Space Invaders",
          es: "Space Invaders",
          "pt-br": "Space Invaders",
        })}
        description={t({
          en: "Space Invaders project created with JavaScript and HTML Canvas",
          es: "Proyecto Space Invaders creado con JavaScript y HTML Canvas",
          "pt-br": "Projeto Space Invaders criado com JavaScript e HTML Canvas",
        })}
        link="https://radapls.github.io/space-invaders/"
      />
      <PortfolioCard
        bgImage={Calendar.src}
        title={t({
          en: "Appointment CRM",
          es: "CRM de citas",
          "pt-br": "CRM de citações",
        })}
        description={t({
          en: "Appointment CRM created with Vite, React, and Tailwindcss",
          es: "CRM creado con Vite, React y Tailwindcss",
          "pt-br": "CRM criado com Vite, React e Tailwindcss",
        })}
        link="https://patient-monitoring-radapls.netlify.app/"
      />
      <PortfolioCard
        bgImage={Music.src}
        title={t({
          en: "Miusiq Remix",
          es: "Miusiq Remix",
          "pt-br": "Miusiq Remix",
        })}
        description={t({
          en: "Ecommerce of instruments created with Remix Run, React, and CSS",
          es: "Ecommerce de instrumentos creado con Remix Run, React y CSS",
          "pt-br":
            "Comércio eletrônico de instrumentos criados com Remix Run, React e CSS",
        })}
        link="https://github.com/Radapls/miusiq-remix/"
      />
      <PortfolioCard
        bgImage={Radar.src}
        title={t({
          en: "Truek App",
          es: "Truek App",
          "pt-br": "Truek App",
        })}
        description={t({
          en: "Radar to find developers and share experiences, built with React, React Native, NodeJs, and Expo",
          es: "Radar para encontrar desarrolladores y compartir experiencias, creado con React, React Native, NodeJs y Expo",
          "pt-br":
            "Radar para encontrar desenvolvedores e compartilhar experiências, construído com React, React Native, NodeJs e Expo",
        })}
        link="https://github.com/Radapls/truek-app"
      />
    </div>
  </div>
</section>

<style>
  .portafolio__container {
    overflow: initial;
  }
  .portafolio__title {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
    color: var(--body-color);
    font-size: var(--h3-font-size);
    line-height: 1.4;
  }
  .portafolio__description {
    opacity: 0;
    transition: opacity 500ms ease-in;
    margin-bottom: var(--mb-0-75);
    color: var(--body-color);
    font-size: var(--normal-font-size);
    margin-bottom: 8px;
  }

  .card-grid {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
  }

  @media screen and (max-width: 1024px) {
    .card-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 568px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
