---
import Alcaldia from "@assets/img/brands/alcaldia-cali.webp";
import IEI from "@assets/img/brands/iei.png";
import MOE from "@assets/img/brands/moe.webp";

import Wibx from "@assets/img/brands/wibx.webp";
import NT from "@assets/img/brands/nt.png";
import Birdi from "@assets/img/brands/birdi.png";
import Icesi from "@assets/img/brands/icesi.jpg";
import Javeriana from "@assets/img/brands/javeriana.svg";
import Logo from "@assets/img/brands/logo.png";
---

<!--==================== QUALIFICATION ====================-->
<section class="qualification section">
    <h2 class="section__title" i18n="experience.title"></h2>
    <span class="section__subtitle" i18n="experience.subtitle"></span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div
                class="qualification__button button--flex"
                data-target="#education"
            >
                <i class="uil uil-graduation-cap qualification__icon"></i>
                <p i18n="experience.education.title"></p>
            </div>
            <div
                class="qualification__button button--flex qualification__active"
                data-target="#work"
            >
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                <p i18n="experience.work.title"></p>
            </div>
        </div>

        <div class="qualification__sections">
            <!--==================== QUALIFICATION CONTENT 1 ====================-->
            <div class="qualification__content" data-content id="education">
                <!--==================== QUALIFICATION 1 ====================-->
                <div class="qualification__data">
                    <div>
                        <img
                            src={Javeriana.src}
                            draggable="false"
                            alt="Pontificia Universidad Javeriana"
                            class="brand-icon"
                        />
                        <h3
                            class="qualification__title"
                            i18n="experience.education.q-edu-1"
                        >
                        </h3>
                        <span
                            class="qualification__subtitle"
                            i18n="experience.education.q-edu-2"></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2014 -2019
                        </div>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== QUALIFICATION 2 ====================-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <img
                            src={Icesi.src}
                            draggable="false"
                            alt="Universidad ICESI"
                            class="brand-icon"
                        />
                        <h3
                            class="qualification__title"
                            i18n="experience.education.q-edu-3"
                        >
                        </h3>
                        <span
                            class="qualification__subtitle"
                            i18n="experience.education.q-edu-4"></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2021 -2022
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== QUALIFICATION CONTENT 2 ====================-->
            <div
                class="qualification__content qualification__active"
                data-content
                id="work"
            >
                <!--==================== QUALIFICATION 1 ====================-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <img
                            src={MOE.src}
                            draggable="false"
                            alt="MOE | Misión de Observación Electoral"
                            class="brand-icon"
                        />
                        <h3
                            class="qualification__title"
                            i18n="experience.work.q-work-1"
                        >
                        </h3>
                        <span
                            class="qualification__subtitle"
                            i18n="experience.work.q-work-2"></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Ene 2018 - Jul 2018
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 2 ====================-->
                <div class="qualification__data">
                    <div>
                        <img
                            src={Alcaldia.src}
                            draggable="false"
                            alt="Alcaldia de Cali"
                            class="brand-icon"
                        />
                        <h3
                            class="qualification__title"
                            i18n="experience.work.q-work-3"
                        >
                        </h3>
                        <span
                            class="qualification__subtitle"
                            i18n="experience.work.q-work-4"></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Mar 2019 - Dec 2019
                        </div>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== QUALIFICATION 3 ====================-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <img
                            src={IEI.src}
                            draggable="false"
                            alt="IEI | Instituto de Estudios Interculturales"
                            class="brand-icon"
                        />
                        <h3
                            class="qualification__title"
                            i18n="experience.work.q-work-5"
                        >
                        </h3>
                        <span
                            class="qualification__subtitle"
                            i18n="experience.work.q-work-6"></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Jun 2020 - Dec 2021
                        </div>
                    </div>
                </div>
                <!--==================== QUALIFICATION 4 ====================-->
                <div class="qualification__data">
                    <div>
                        <a href="/wibx">
                            <img
                                src={Wibx.src}
                                draggable="false"
                                alt="Wibx Company"
                                style="width: 35px;"
                            />
                            <h3
                                class="qualification__title"
                                i18n="experience.work.q-work-7"
                            >
                            </h3>
                            <span
                                class="qualification__subtitle"
                                i18n="experience.work.q-work-8"></span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                Jan 2022 - Present
                            </div>
                        </a>
                    </div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== NT  ====================-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <img
                            src={NT.src}
                            draggable="false"
                            alt="NT Consult"
                            class="brand-icon"
                        />
                        <h3
                            class="qualification__title"
                            i18n="experience.work.q-work-9"
                        >
                        </h3>
                        <span
                            class="qualification__subtitle"
                            i18n="experience.work.q-work-10"></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            May 2023 - Present
                        </div>
                    </div>
                </div>

                <!--==================== BirdiRx ====================-->
                <div class="qualification__data">
                    <a href="/birdi">
                        <div>
                            <img
                                src={Birdi.src}
                                draggable="false"
                                alt="BirdiRx"
                                class="brand-icon"
                            />
                            <h3
                                class="qualification__title"
                                i18n="experience.work.q-work-11"
                            >
                            </h3>
                            <span
                                class="qualification__subtitle"
                                i18n="experience.work.q-work-12"></span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                Jan 2022 - Present
                            </div>
                        </div>
                    </a>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--==================== Next?  ====================-->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    <div>
                        <img
                            src={Logo.src}
                            draggable="false"
                            alt="Your logo here"
                            class="brand-icon"
                        />
                        <h3
                            class="qualification__title"
                            i18n="experience.work.q-work"
                        >
                        </h3>
                        <a
                            href="#Contact"
                            i18n="contact"
                            style="font-size: 90%;"
                        >
                        </a>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Present - Future
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .brand-icon {
        height: 35px;
        filter: drop-shadow(0px 0px 0.5px gray);
    }

    .blur {
    }
</style>

<script is:inline>
    /*==================== QUALIFICATION TABS ====================*/
    const tabs = document.querySelectorAll("[data-target]"),
        tabContents = document.querySelectorAll("[data-content]");

    tabs.forEach((tab) => {
        tab.addEventListener("click", () => {
            const target = document.querySelector(tab.dataset.target);

            tabContents.forEach((tabContent) => {
                tabContent.classList.remove("qualification__active");
            });
            target.classList.add("qualification__active");

            tabs.forEach((tab) => {
                tab.classList.remove("qualification__active");
            });
            tab.classList.add("qualification__active");
        });
    });
</script>
