---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { DEFAULT_LOCALE, type Lang } from 'src/i18n';

interface Props {
	image: {
		src: ImageMetadata;
		height: number;
		width: number;
		alt: string;
	};
	title: string;
	organization: string;
	relativeTime: string;
	isEven: boolean;
	link?: string;
}

const currentLocale =
  (Astro.currentLocale as Lang | undefined) ?? DEFAULT_LOCALE;

const { image, title, organization, relativeTime, isEven, link } = Astro.props;
---

<div class="qualification__data">
	{
		isEven ? (
			<Fragment>
				<div>
					<Image
						src={image.src}
						draggable="false"
						alt={image.alt}
						class="brand-icon"
						height={image.height}
						width={image.width}
					/>
					<h3 class="qualification__title">{title}</h3>
					{link ? (
						<a href={getRelativeLocaleUrl(currentLocale, link)}>
							<span class="qualification__subtitle">{organization}</span>
						</a>
					) : (
						<span class="qualification__subtitle">{organization}</span>
					)}
					<div class="qualification__calendar">
						<i class="uil uil-calendar-alt" />
						{relativeTime}
					</div>
				</div>
				<div>
					<span class="qualification__rounder" />
					<span class="qualification__line" />
				</div>
			</Fragment>
		) : (
			<Fragment>
				<div />
				<div>
					<span class="qualification__rounder" />
					<span class="qualification__line" />
				</div>
				<div>
					<Image
						src={image.src}
						draggable="false"
						alt={image.alt}
						class="brand-icon"
						height={image.height}
						width={image.width}
					/>
					<h3 class="qualification__title">{title}</h3>
					{link ? (
						<a  href={getRelativeLocaleUrl(currentLocale, link)}>
							<span class="qualification__subtitle">{organization}</span>
						</a>
					) : (
						<span class="qualification__subtitle">{organization}</span>
					)}
					<div class="qualification__calendar">
						<i class="uil uil-calendar-alt" />
						{relativeTime}
					</div>
				</div>
			</Fragment>
		)
	}
</div>

<style>
	a {
		color: var(--first-color-second);
	}
</style>
