---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE_CONFIG } from "src/consts";

import type { BrandType } from "src/types/variants";
import { getLocalePaths, LOCALES, type Lang } from "src/i18n";

import "@styles/global.css";

interface Props {
  title: string;
  variant?: BrandType;
  description?: string;
  keywords?: string[];
  permalink?: string;
  withHeader?: boolean;
  withFooter?: boolean;
  noLinks?: boolean;

}

const {
  title,
  variant = "radapls",
  description = SITE_CONFIG.description,
  keywords = SITE_CONFIG.keywords,
  withFooter = true,
  withHeader = true,
  noLinks
} = Astro.props;

const locale = Astro.currentLocale as Lang;
---

<!doctype html>
<html lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(", ")} />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }
    <!--==================== UNICONS ====================-->
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
      type="text/css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      media="print" onload={`this.media='all'`}
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />

    <title>{title}</title>
  </head>
  <body>
    {withHeader && <Header {variant} noLinks={noLinks}/>}

    <!--==================== MAIN ====================-->
    <main class="main">
      <slot />
    </main>
    {withFooter && <Footer {variant} />}

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>
  </body>
</html>
<!--==================== MAIN JS ====================-->
<script src="../scripts/main.js"></script>
